<nav class="navbar navbar-expand-lg navbar-dark" style="background-color:#283541;">
    <% if(route && route === "tweets") { %>
        <img src="../../img/search-icon.png" class="search-icon navbar-brand" alt="search-icon">
        <form class="search-form" name="nav-search" method="post" action="/tweets/search">
            <input class="form-control-sm nav-search" type="search" name="nav-search" placeholder="Enter a phrase or statement" aria-label="Search">
            <button class="nav-searchBtn btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    <% } else if(route && route === "users") { %>
        <img src="../../img/search-icon.png" class="search-icon" alt="search-icon">
        <form class="search-form" name="nav-search" method="post" action="/users/search">
            <input class="form-control-sm nav-search" type="search" name="nav-search" placeholder="Enter a username" aria-label="Search">
            <button class="nav-searchBtn btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    <% } else if(route && route === "trends") { %>
        <img src="../../img/search-icon.png" class="search-icon" alt="search-icon">
        <form class="search-form" name="nav-search" method="post" action="/trends/search">
            <input class="form-control-sm nav-search" type="search" name="nav-search" placeholder="Enter a trending subject" aria-label="Search">
            <button class="nav-searchBtn btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    <% } else if(route === "home") { %>
        <img src="../../img/search-icon.png" class="search-icon" alt="search-icon">
        <form class="search-form" name="nav-search" method="post" action="/all/search">
            <input class="form-control-sm nav-search" type="search" name="nav-search" placeholder="Enter a phrase or statement" aria-label="Search">
            <button class="nav-searchBtn btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    <% } else { %>
        <img src="../../img/search-icon.png" class="search-icon" alt="search-icon">
        <form class="search-form" name="nav-search" method="post" action="/all/search">
            <input class="form-control-sm nav-search" type="search" name="nav-search" placeholder="Enter a phrase or statement" aria-label="Search">
            <button class="nav-searchBtn btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
        </form>
    <% } %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navlist">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/tweets/recent">Recent</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users/recent">Account</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trends/recent">Trends</a>
            </li>
        </ul>
    </div>
</nav>
