	<%- include('includes/header'); %>
	<div class = "container">
		<%- include('includes/navigation'); %>
		<section class="alert-danger">
				<h1>404</h1>
				<h2>Something just broke!</h2>
		</section>
	</div>
	<%- include('includes/scripts'); %>
	</body>
</html>
