<%- include('includes/header'); %>

<div class="background">
    <div class="container container-body">
        <div class="row">
            <div class="col-md-12 pt-3">
                <h1>404</h1>
                <h2>Something just broke!</h2>
            </div>
        </div>
    </div>
</div>
<%- include('includes/scripts'); %>
</body></html>
