	<%- include('includes/header'); %>
	<div class = "background">
		<div class = "container">
			<div class = "row">
				<div class = "col-md-12">
					<h1 class = "title">Log-it!</h1>
					<h2 class = "subtitle">A Twitter web scraper</h2>
				</div>
			</div>
		</div>
	</div>
	<%- include('includes/scripts'); %>
	</body>
</html>
