
.navbar {
    display          : flex;
    justify-content  : space-between;
    align-items      : center;
    padding          : .70em 1rem;
    margin-bottom    : 1rem;
    background-color : #fff;
    border-bottom    : 1px solid #e0e0e0;
    line-height      : 1.42857143 !important;
    border-radius    : 0;
    font-family      : Montserrat, sans-serif;
    z-index          : 9999;
    max-height       : 5em;

    position         : fixed;
    top              : 0;
    left             : 0;
    right            : 0;
    width            : 100%;
    box-shadow       : 0 0 10px rgba(0, 0, 0, 0.1);

}



.navbar .search-icon {
    color   : #000;
    display : inline-block;
    width   : 1em;
    height  : 1em;
    margin  : 0 .5em;
}



#navlist .nav-link {
    margin-right : 1.5em;
}



.navbar .nav-link:hover {
    color : #ededf3;
}



.search-form {
    display          : none;
    position         : absolute;
    top              : 0;
    left             : 0;
    right            : 0;
    background-color : #dbeaea;
    padding          : 1em;
    border-radius    : 0 0 2em 2em;
    box-shadow       : 0 0 10px rgba(0, 0, 0, 1);
    z-index          : 1000;
}



.search-icon {
    color  : #c3cade;
    cursor : pointer;

}



.navbar .nav-search {
    width : content-box;

}



.navbar #navlist {
    margin-top    : 0;
    margin-bottom : 0;
    list-style    : none;
    padding-left  : 2em;
    text-align    : right;
    font-size     : 1.2em;
    font-weight   : 600;
    margin-right  : 1em;
}



.container-body {
    margin-top : 5em;

}



.tweet-card-container {
    font-size     : 1em;
    padding       : 0;
    overflow      : hidden;
    border        : none;
    border-radius : .2850rem;
    box-shadow    : 0 1px 3px 0 #c8c8e7, 0 0 0 1px #c7c7cb;
}




.tweet-card-body {
    font-size  : 1em;
    position   : relative;
    margin     : 0;
    padding    : 1.5em;
    background : #fff;
    border     : 1em solid rgba(33, 37, 41, 0.1);
    border-top : none;
}



.tweet-card-text {
    color      : #000;
    clear      : both;
    margin-top : .5em;
}



.tweet-card-bgp {
    display : block;
    width   : 100%;
    height  : auto;
    margin  : 0 auto;
}



.tweet-card-user {
    font-size   : 1.2850em;
    font-weight : 700;
    line-height : 1.2850em;

}



.tweet-card-footer {
    font-size  : 1em;
    position   : static;
    top        : 0;
    left       : 0;
    max-width  : 100%;
    padding    : .75em 1em;
    color      : #000;
    border-top : 1px solid rgba(8, 8, 8, 0.1) !important;
    background : #fff;
}



.tweet-card-pfp-container {
    position      : absolute;
    top           : -2.5em;
    display       : inline-block;
    overflow      : hidden;
    box-sizing    : border-box;
    width         : 5em;
    height        : 5em;
    margin        : 0;
    border-radius : 50%;
}



.tweet-card-pfp {
    display       : block;
    width         : 100%;
    height        : 100%;
    border-radius : 50%;
}



.inlined {
    display        : inline-block;
    vertical-align : middle;
    top            : 0;
    left           : 0;
    width          : 100%;
    position       : relative;
}



.inlined .tweet-card-user {
    display        : inline-block;
    padding        : 0;
    margin-left    : 1em;
    vertical-align : top;
}



.tab-space {
    margin-left : 1em;
}
